//
//  museek.xcconfig
//  iSoul
//
//  Created by David Jennes on 08/10/11.
//  Copyright 2011. All rights reserved.
//

// Packaging
PRODUCT_NAME = museek

// Search paths
HEADER_SEARCH_PATHS = "/usr/include/libxml2/**" "./**" "../libevent/**" "../libXML++/**"

// Disable a few warnings
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_SHADOW = NO

// Deployment
INSTALL_PATH = /usr/local/bin
