//
//  TCMPortMapper.xcconfig
//  iSoul
//
//  Created by David Jennes on 08/10/11.
//  Copyright 2011. All rights reserved.
//

// Version
CURRENT_PROJECT_VERSION = 1.3.2
CURRENT_MARKETING_VERSION = 1.3.2

// Packaging
FRAMEWORK_VERSION = A
INFOPLIST_FILE = framework/TCMPortMapper-Info.plist
PRODUCT_NAME = TCMPortMapper
WRAPPER_EXTENSION = framework

// Linking
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

// Deployment
INSTALL_PATH = @executable_path/../Frameworks

// Compiler options
GCC_PREFIX_HEADER = framework/TCMPortMapper_Prefix.pch
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) _DARWIN_C_SOURCE
GCC_SYMBOLS_PRIVATE_EXTERN = NO

// Disable a few warnings
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_SHADOW = NO
GCC_WARN_SIGN_COMPARE = NO
GCC_WARN_UNDECLARED_SELECTOR = NO
